node_modules/
certificate.pfx
certificate.pem
private_key.pem
config.json
.DS_Store
package-lock.json

# Python
python_embedded/
lib/
__pycache__/
*.pyc
*.pyo
get-pip.py
data/
test_*.py
query_gpu.ps1
